.Menue-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.banner-img-1 {
    filter: brightness(30%);

}

.Mbanner-txt-1 {
    display: flex;
    position: absolute;
    left: 500px;
    font-size: 100px;
    color: white;
    font-weight: 100px;
}
